@model IEnumerable<SuperRowerDB.RowerPrice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabela cen rowerów</h1>

<p>
    <a asp-action="Add">Dodaj klienta</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Numer ceny roweru
            </th>
            <th>
                Cena za dzień
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RowerPriceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RowerPriceID }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.RowerPriceID })
            </td>
        </tr>
}
    </tbody>
</table>
