@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron justify-content-lg-center">
    <h1 class="text-xl-center" >Welcome</h1>
    <p class="text-xl-center">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
