@model SuperRowerDB.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="jumbotron">
    <p> </p>
    <h1>Edit</h1>

    <h4>CustomerViewModel</h4>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerID" class="control-label"> Kod Klienta</label>
            <input asp-for="CustomerID" class="form-control" />
            <span asp-validation-for="CustomerID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NameCustomer" class="control-label"> Imię</label>
            <input asp-for="NameCustomer" class="form-control" />
            <span asp-validation-for="NameCustomer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastNameCustomer" class="control-label">Nazwisko</label>
            <input asp-for="LastNameCustomer" class="form-control" />
            <span asp-validation-for="LastNameCustomer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TelCustomer" class="control-label">Telefon</label>
            <input asp-for="TelCustomer" class="form-control" />
            <span asp-validation-for="TelCustomer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CityAdressCustomer" class="control-label">Miasto</label>
            <input asp-for="CityAdressCustomer" class="form-control" />
            <span asp-validation-for="CityAdressCustomer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StreetAdressCustomer" class="control-label">Ulica</label>
            <input asp-for="StreetAdressCustomer" class="form-control" />
            <span asp-validation-for="StreetAdressCustomer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BuildingAdressCustomer" class="control-label">Nr budynku</label>
            <input asp-for="BuildingAdressCustomer" class="form-control" />
            <span asp-validation-for="BuildingAdressCustomer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ApartmentAdressCustomer" class="control-label">Nr mieszkania</label>
            <input asp-for="ApartmentAdressCustomer" class="form-control" />
            <span asp-validation-for="ApartmentAdressCustomer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="KodCustomer" class="control-label">Kod pocztowy</label>
            <input asp-for="KodCustomer" class="form-control" />
            <span asp-validation-for="KodCustomer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
